.container{
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 0.8em;
    align-items: center;
    margin-bottom: 1em;
}

.label-logo{
    width: 280px;
    height: 280px;
    background-color: #00488B;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.label-logo input{
    display: none;
}

.form-profile label{
    margin-bottom: 0.5em;
    font-size: 1.4em;
}

.form-profile input, textarea, select{
    margin-bottom: 1em;
    padding: 0.7em;
    border: none;
    border-radius: 5px;
    max-width: 600px;
}

.form-profile input:disabled{
    cursor: not-allowed;
}

.form-profile button{
    max-width: 600px;
}

.logout-btn{
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid #00488B;
    color: #00488B;
    border-radius: 5px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}